<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" th:href="@{/css/style_register.css}">
    <script type="module" th:src="@{/js/app_register.js}" defer></script>
</head>
<body>
    <div th:replace="componets/header"></div>
    <div id="main">
        <h1>Cadastro de Usuário</h1>
        <form id="form-register" action="">
            <div class="box">
                <label for="name">Nome</label>
                <input class="register" type="text" id="name" placeholder="Nome">
            </div>
            <div class="box">
                <label for="email">Email</label>
                <input class="register" type="email" id="email" placeholder="Email">
            </div>
            <div class="box">
                <label for="password">Senha</label>
                <input class="register" type="password" id="password" placeholder="Senha">
            </div>
            <div class="box">
                <input class="register" type="submit" id="button" placeholder="Cadastrar">
            </div>
        </form>
    </div>
    <p class="error-data template"></p>
</body>
</html>