<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style_register.css}">
    <script type="module" th:src="@{/js/app_login.js}" defer></script>
</head>
<body>
    <div th:replace="componets/header"></div>
    <div id="main">
        <h1 id="h1-title"></h1>
        <form id="form-register" action="">
            <div class="box">
                <label for="email">Email</label>
                <input class="register" type="email" id="email" placeholder="Digite seu email">
            </div>
            <div id="div-password" class="box">
                <label for="password-new" id="lb-password">Senha</label>
                <input class="register" type="password" id="password" placeholder="Digite sua senha">
            </div>
            <div class="box">
                <input class="register" type="submit" id="button" placeholder="Login">
            </div>
            <div class="box">
                <a href="/movies/register" class="register" id="btn-alter" placeholder="Alterar Senha">Cadratrar-se</a>
            </div>
        </form>
    </div>
    <p class="error-data template"></p>
</body>
</html>